        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                                <img alt="image" class="img-circle" src="/images/profile_small.jpg" />
                                </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{user.nom}}</strong>
                                </span> <span class="text-muted text-xs block">{{user.role}} <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="/admin/update/{{user._id}}">Profile</a></li>
                                <li class="divider"></li>
                                <li><a href="/admin/logout">Déconnexion</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class=" {% if path=='/admin/index'%} active {% endif %}">
                        <a href="/admin/index"><i class="fa fa-th-large"></i> <span class="nav-label">Accueil</span></a>
                    </li>
                    <li class=" {% if (path=='/admin/addmarker') or (path=='/admin/getmarker') %} active {% endif %}">
                        <a href="index.html"><i class="fa fa-map-marker"></i> <span class="nav-label">Marqueur</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class=" {% if path=='/admin/addmarker'%} active {% endif %}"><a href="/admin/addmarker">Ajoute un marqueur</a></li>
                            <li class=" {% if path=='/admin/getmarker'%} active {% endif %}"><a href="/admin/getmarker">les liste de marqueurs</a></li>
                            
                        </ul>
                    </li>
                    <li class=" {% if (path=='/admin/addville') or (path=='/admin/getville') %} active {% endif %}">
                        <a href="#"><i class="fa fa-university"></i> <span class="nav-label">Villes </span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{% if path=='/admin/addville' %} active {% endif %}"><a href="/admin/addville">ajouter une ville</a></li>
                            <li class="{% if path=='/admin/getville' %} active {% endif %}"><a href="/admin/getville">liste des villes</a></li>
                        </ul>
                    </li>
                    <li class=" {% if (path=='/admin/addcat') or (path=='/admin/getcat') %} active {% endif %}">
                        <a href="#"><i class="fa fa-cube"></i> <span class="nav-label">Catégories</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{% if path=='/admin/addcat' %} active {% endif %}"><a href="/admin/addcat">ajouter un Catégorie</a></li>
                            <li class="{% if path=='/admin/getcat' %} active {% endif %}"><a href="/admin/getcat">liste des Catégories</a></li>
                        </ul>
                    </li>
                    <li class=" {% if (path=='/admin/addcat') or (path=='/admin/getcat') %} active {% endif %}">
                        <a href="#"><i class="fa fa-building"></i> <span class="nav-label">Agence</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{% if path=='/admin/addagence' %} active {% endif %}"><a href="/admin/addagence">ajouter un Agence</a></li>
                            <li class="{% if path=='/admin/getagence' %} active {% endif %}"><a href="/admin/getagence">liste des Agence</a></li>
                        </ul>
                    </li>
                    <li class="{% if (path=='/admin/map')%} active {% endif %}">
                        <a href="/admin/map"><i class="fa fa-map"></i> <span class="nav-label">Map</span></a>
                    </li>
                    <li class="{% if (path=='/admin/getusers')%} active {% endif %}">
                        <a href="/admin/users"><i class="fa fa-users"></i> <span class="nav-label">Users</span></a>
                    </li>
                    {% if user.role=='adminP'%}
                    <li class=" {% if (path=='/admin/composeMail') or (path=='/admin/inbox') %} active {% endif %}">
                        <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{% if path=='/admin/composeMail' %} active {% endif %}"><a href="/admin/composeMail">Composer un mail</a></li>
                            <li class="{% if path=='/admin/inbox' %} active {% endif %}"><a href="/admin/inbox">Inbox</a></li>
                        </ul>
                    </li>
                    <li class=" {% if (path=='/admin/addadmin') or (path=='/admin/getadmin') %} active {% endif %}">
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Admin</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level collapse">
                            <li class="{% if path=='/admin/addadmin' %} active {% endif %}"><a href="/admin/addadmin">ajouter un admin</a></li>
                            <li class="{% if path=='/admin/getadmin' %} active {% endif %}"><a href="/admin/getadmin">liste des admins</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li class="special_link">
                        <a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Regles</span></a>
                    </li>
                </ul>
    
            </div>
        </nav>
