{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>liste des villes</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table  class="table table-striped table-bordered table-hover dataTables-example text-center">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Prénom</th>
                        <th class="text-center">telephone</th>
                        <th class="text-center">adresse</th>
                        <th class="text-center">email</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for users in users %}
                            <tr>
                                <td>{{loop.index}}</td>
            
                                <td>{{users.nom}}</td>
                                <td>{{users.prenom}}</td>
                                <td>{{users.tel}}</td>
                                <td>{{users.adresse}}</td>
                                <td>{{users.email}}</td>
                                <td>
                                        <a href="/admin/update/{{users._id}}" class="btn btn-default btn-sm " role="button">Etider</a>
                                        <a href="#" type="submit"  class="btn btn-default btn-sm delete-adminS" data-toggle="modal" data-id="{{users._id}}" data-target="#myModal4" role="button">supprimer</a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
      
    </div>
    </div>
{% endblock %}